In [5]:
import pandas as pd
rel = r"C:\Users\steph\Downloads\archive\releases.csv"
releases = pd.read_csv(rel)
stu = r"C:\Users\steph\Downloads\archive\studios.csv"
studios = pd.read_csv(stu)
mov = r"C:\Users\steph\Downloads\archive\movies.csv"
movies = pd.read_csv(mov)
gen = r"C:\Users\steph\Downloads\archive\genres.csv"
genres = pd.read_csv(gen)
lan = r"C:\Users\steph\Downloads\archive\languages.csv"
languages = pd.read_csv(lan)
cou = r"C:\Users\steph\Downloads\archive\countries.csv"
countries = pd.read_csv(cou)

In [6]:
releases = releases.dropna()
studios = studios.dropna()
movies = movies.dropna()
genres = genres.dropna()
languages = languages.dropna()
countries = countries.dropna()
print(releases)
print(studios)
print(movies)
print(genres)
print(languages)
print(countries)

              id    country        date        type rating
1        1000001  Argentina  2023-07-20  Theatrical    ATP
2        1000001  Australia  2023-07-19  Theatrical     PG
3        1000001  Australia  2023-10-01     Digital     PG
10       1000001     Brazil  2023-07-20  Theatrical     12
11       1000001     Canada  2023-07-21  Theatrical     PG
...          ...        ...         ...         ...    ...
1332600  1940788     Canada  1991-07-31    Physical      G
1332634  1940823    Germany  1987-03-05  Theatrical     16
1332667  1940857      India  1982-07-09  Theatrical      U
1332691  1940881        USA  1978-01-23  Theatrical     NR
1332711  1940901        USA  1970-05-08          TV     NR

[333980 rows x 5 columns]
             id                   studio
0       1000001  LuckyChap Entertainment
1       1000001             Heyday Films
2       1000001           NB/GG Pictures
3       1000001                   Mattel
4       1000001    Warner Bros. Pictures
...         ...                      ...
679278  1941596               上海猫眼影业有限公司
679279  1941596            坏小子（北京）传媒有限公司
679280  1941596         亚太国影（重庆）文化传媒有限公司
679281  1941596               凤凰传奇影业有限公司
679282  1941596             无双（深圳）影业有限公司

[679273 rows x 2 columns]
             id                               name    date  \
0       1000001                             Barbie  2023.0
1       1000002                           Parasite  2019.0
2       1000003  Everything Everywhere All at Once  2022.0
3       1000004                         Fight Club  1999.0
4       1000005                         La La Land  2016.0
...         ...                                ...     ...
152402  1152403                         Karmayodha  2012.0
152849  1152850                            Staging  2021.0
158484  1158485                             Kaalai  2008.0
161263  1161264                      Fading Petals  2022.0
164848  1164849                   To Steal a Thief  1996.0

                                                  tagline  \
0                        She's everything. He's just Ken.
1                             Act like you own the place.
2        The universe is so much bigger than you realize.
3                                 Mischief. Mayhem. Soap.
4                          Here's to the fools who dream.
...                                                   ...
152402                                   Bad ones beware.
152849                                            Staging
158484                             There is no substitute
161263  The tumultuous relationship between a Young Wo...
164848  Robert Gustafsson i en komedi om inbrott, avbr...

                                              description  minute  rating
0       Barbie and Ken are having the time of their li...   114.0    3.86
1       All unemployed, Ki-taek's family takes peculia...   133.0    4.56
2       An aging Chinese immigrant is swept up in an i...   140.0    4.30
3       A ticking-time-bomb insomniac and a slippery s...   139.0    4.27
4       Mia, an aspiring actress, serves lattes to mov...   129.0    4.09
...                                                   ...     ...     ...
152402  An investigative thriller from Major Ravi, wit...   123.0    2.78
152849  Assad, along with his group, creates fake acci...    96.0    2.66
158484  A man comes to the city, seeking revenge from ...   133.0    2.75
161263  The paths of two solitary figures cross when a...    93.0    3.11
164848  Roger is a failed petty criminal living in Sto...    93.0    2.95

[38308 rows x 7 columns]
              id      genre
0        1000001     Comedy
1        1000001  Adventure
2        1000002     Comedy
3        1000002   Thriller
4        1000002      Drama
...          ...        ...
1046844  1941563      Drama
1046845  1941566      Crime
1046846  1941569      Crime
1046847  1941596     Action
1046848  1941596      Crime

[1046849 rows x 2 columns]
              id              type  language
0        1000001          Language   English
1        1000002  Primary language    Korean
2        1000002   Spoken language   English
3        1000002   Spoken language    German
4        1000002   Spoken language    Korean
...          ...               ...       ...
1038757  1941593          Language   Chinese
1038758  1941594          Language   English
1038759  1941595          Language   English
1038760  1941596          Language   Chinese
1038761  1941597          Language  Japanese

[1038762 rows x 3 columns]
             id      country
0       1000001           UK
1       1000001          USA
2       1000002  South Korea
3       1000003          USA
4       1000004      Germany
...         ...          ...
693471  1941593        China
693472  1941594          USA
693473  1941595          USA
693474  1941596        China
693475  1941597        Japan

[693476 rows x 2 columns]

In [7]:
result1 = pd.merge(releases, studios, on="id")
print(result1)
result2 = pd.merge(movies, genres, on="id")
print(result2)
result3 = pd.merge(languages, countries, on="id")
print(result3)

             id    country        date        type rating  \
0       1000001  Argentina  2023-07-20  Theatrical    ATP
1       1000001  Argentina  2023-07-20  Theatrical    ATP
2       1000001  Argentina  2023-07-20  Theatrical    ATP
3       1000001  Argentina  2023-07-20  Theatrical    ATP
4       1000001  Argentina  2023-07-20  Theatrical    ATP
...         ...        ...         ...         ...    ...
786264  1940773        USA  1994-01-01    Physical     NR
786265  1940788     Canada  1991-07-31    Physical      G
786266  1940881        USA  1978-01-23  Theatrical     NR
786267  1940901        USA  1970-05-08          TV     NR
786268  1940901        USA  1970-05-08          TV     NR

                                studio
0              LuckyChap Entertainment
1                         Heyday Films
2                       NB/GG Pictures
3                               Mattel
4                Warner Bros. Pictures
...                                ...
786264         Shanachie Entertainment
786265                        CFJC-tv7
786266           R.M. Productions Ltd.
786267              S.C. Johnson & Son
786268  Daniel Wilson Productions Inc.

[786269 rows x 6 columns]
            id              name    date  \
0      1000001            Barbie  2023.0
1      1000001            Barbie  2023.0
2      1000002          Parasite  2019.0
3      1000002          Parasite  2019.0
4      1000002          Parasite  2019.0
...        ...               ...     ...
87082  1152850           Staging  2021.0
87083  1158485            Kaalai  2008.0
87084  1161264     Fading Petals  2022.0
87085  1164849  To Steal a Thief  1996.0
87086  1164849  To Steal a Thief  1996.0

                                                 tagline  \
0                       She's everything. He's just Ken.
1                       She's everything. He's just Ken.
2                            Act like you own the place.
3                            Act like you own the place.
4                            Act like you own the place.
...                                                  ...
87082                                            Staging
87083                             There is no substitute
87084  The tumultuous relationship between a Young Wo...
87085  Robert Gustafsson i en komedi om inbrott, avbr...
87086  Robert Gustafsson i en komedi om inbrott, avbr...

                                             description  minute  rating  \
0      Barbie and Ken are having the time of their li...   114.0    3.86
1      Barbie and Ken are having the time of their li...   114.0    3.86
2      All unemployed, Ki-taek's family takes peculia...   133.0    4.56
3      All unemployed, Ki-taek's family takes peculia...   133.0    4.56
4      All unemployed, Ki-taek's family takes peculia...   133.0    4.56
...                                                  ...     ...     ...
87082  Assad, along with his group, creates fake acci...    96.0    2.66
87083  A man comes to the city, seeking revenge from ...   133.0    2.75
87084  The paths of two solitary figures cross when a...    93.0    3.11
87085  Roger is a failed petty criminal living in Sto...    93.0    2.95
87086  Roger is a failed petty criminal living in Sto...    93.0    2.95

           genre
0         Comedy
1      Adventure
2         Comedy
3       Thriller
4          Drama
...          ...
87082      Crime
87083     Action
87084      Drama
87085     Comedy
87086      Crime

[87087 rows x 8 columns]
             id              type  language      country
0       1000001          Language   English           UK
1       1000001          Language   English          USA
2       1000002  Primary language    Korean  South Korea
3       1000002   Spoken language   English  South Korea
4       1000002   Spoken language    German  South Korea
...         ...               ...       ...          ...
841106  1941593          Language   Chinese        China
841107  1941594          Language   English          USA
841108  1941595          Language   English          USA
841109  1941596          Language   Chinese        China
841110  1941597          Language  Japanese        Japan

[841111 rows x 4 columns]

In [8]:
result4 = pd.merge(result1, result2, on="id")
print(result4)
result = pd.merge(result4, result3, on = "id")
print(result)

              id    country      date_x        type rating_x  \
0        1000001  Argentina  2023-07-20  Theatrical      ATP
1        1000001  Argentina  2023-07-20  Theatrical      ATP
2        1000001  Argentina  2023-07-20  Theatrical      ATP
3        1000001  Argentina  2023-07-20  Theatrical      ATP
4        1000001  Argentina  2023-07-20  Theatrical      ATP
...          ...        ...         ...         ...      ...
1367007  1152403      India  2012-12-20  Theatrical       UA
1367008  1152403      India  2012-12-20  Theatrical       UA
1367009  1152403      India  2012-12-20  Theatrical       UA
1367010  1158485      India  2008-01-14  Theatrical        U
1367011  1161264         UK  2022-03-09  Theatrical       15

                          studio           name  date_y  \
0        LuckyChap Entertainment         Barbie  2023.0
1        LuckyChap Entertainment         Barbie  2023.0
2                   Heyday Films         Barbie  2023.0
3                   Heyday Films         Barbie  2023.0
4                 NB/GG Pictures         Barbie  2023.0
...                          ...            ...     ...
1367007       Red Rose Creations     Karmayodha  2012.0
1367008       Red Rose Creations     Karmayodha  2012.0
1367009       Red Rose Creations     Karmayodha  2012.0
1367010                 Nic Arts         Kaalai  2008.0
1367011  Crazy Goose Productions  Fading Petals  2022.0

                                                   tagline  \
0                         She's everything. He's just Ken.
1                         She's everything. He's just Ken.
2                         She's everything. He's just Ken.
3                         She's everything. He's just Ken.
4                         She's everything. He's just Ken.
...                                                    ...
1367007                                   Bad ones beware.
1367008                                   Bad ones beware.
1367009                                   Bad ones beware.
1367010                             There is no substitute
1367011  The tumultuous relationship between a Young Wo...

                                               description  minute  rating_y  \
0        Barbie and Ken are having the time of their li...   114.0      3.86
1        Barbie and Ken are having the time of their li...   114.0      3.86
2        Barbie and Ken are having the time of their li...   114.0      3.86
3        Barbie and Ken are having the time of their li...   114.0      3.86
4        Barbie and Ken are having the time of their li...   114.0      3.86
...                                                    ...     ...       ...
1367007  An investigative thriller from Major Ravi, wit...   123.0      2.78
1367008  An investigative thriller from Major Ravi, wit...   123.0      2.78
1367009  An investigative thriller from Major Ravi, wit...   123.0      2.78
1367010  A man comes to the city, seeking revenge from ...   133.0      2.75
1367011  The paths of two solitary figures cross when a...    93.0      3.11

             genre
0           Comedy
1        Adventure
2           Comedy
3        Adventure
4           Comedy
...            ...
1367007      Crime
1367008     Action
1367009   Thriller
1367010     Action
1367011      Drama

[1367012 rows x 13 columns]
              id  country_x      date_x      type_x rating_x  \
0        1000001  Argentina  2023-07-20  Theatrical      ATP
1        1000001  Argentina  2023-07-20  Theatrical      ATP
2        1000001  Argentina  2023-07-20  Theatrical      ATP
3        1000001  Argentina  2023-07-20  Theatrical      ATP
4        1000001  Argentina  2023-07-20  Theatrical      ATP
...          ...        ...         ...         ...      ...
5381497  1152403      India  2012-12-20  Theatrical       UA
5381498  1158485      India  2008-01-14  Theatrical        U
5381499  1158485      India  2008-01-14  Theatrical        U
5381500  1158485      India  2008-01-14  Theatrical        U
5381501  1161264         UK  2022-03-09  Theatrical       15

                          studio           name  date_y  \
0        LuckyChap Entertainment         Barbie  2023.0
1        LuckyChap Entertainment         Barbie  2023.0
2        LuckyChap Entertainment         Barbie  2023.0
3        LuckyChap Entertainment         Barbie  2023.0
4                   Heyday Films         Barbie  2023.0
...                          ...            ...     ...
5381497       Red Rose Creations     Karmayodha  2012.0
5381498                 Nic Arts         Kaalai  2008.0
5381499                 Nic Arts         Kaalai  2008.0
5381500                 Nic Arts         Kaalai  2008.0
5381501  Crazy Goose Productions  Fading Petals  2022.0

                                                   tagline  \
0                         She's everything. He's just Ken.
1                         She's everything. He's just Ken.
2                         She's everything. He's just Ken.
3                         She's everything. He's just Ken.
4                         She's everything. He's just Ken.
...                                                    ...
5381497                                   Bad ones beware.
5381498                             There is no substitute
5381499                             There is no substitute
5381500                             There is no substitute
5381501  The tumultuous relationship between a Young Wo...

                                               description  minute  rating_y  \
0        Barbie and Ken are having the time of their li...   114.0      3.86
1        Barbie and Ken are having the time of their li...   114.0      3.86
2        Barbie and Ken are having the time of their li...   114.0      3.86
3        Barbie and Ken are having the time of their li...   114.0      3.86
4        Barbie and Ken are having the time of their li...   114.0      3.86
...                                                    ...     ...       ...
5381497  An investigative thriller from Major Ravi, wit...   123.0      2.78
5381498  A man comes to the city, seeking revenge from ...   133.0      2.75
5381499  A man comes to the city, seeking revenge from ...   133.0      2.75
5381500  A man comes to the city, seeking revenge from ...   133.0      2.75
5381501  The paths of two solitary figures cross when a...    93.0      3.11

             genre            type_y   language country_y
0           Comedy          Language    English        UK
1           Comedy          Language    English       USA
2        Adventure          Language    English        UK
3        Adventure          Language    English       USA
4           Comedy          Language    English        UK
...            ...               ...        ...       ...
5381497   Thriller   Spoken language  Malayalam     India
5381498     Action  Primary language      Tamil     India
5381499     Action   Spoken language      Hindi     India
5381500     Action   Spoken language      Tamil     India
5381501      Drama          Language    English        UK

[5381502 rows x 16 columns]

In [11]:
result.to_csv(r"C:\Users\steph\Downloads\archive\merged_movies.csv")